/* changed by mia - nav bar and colors + some p and a tags*/


h1 { 
    font-family:'Birthstone Bounce';
    text-align: center;
    font-size: 18mm;
    color: #9370db
}
h2 { 
    font-family:'Covered By Your Grace',fantasy;
    font-size: 12mm;
    color: #9370db
}

#pictures {
        margin-left: auto;
        margin-right: auto;
}

.pic {
    padding: 10px;
}

.text {
    text-align: center;
    font-size: 30px;
}

.text2 {
    word-wrap: break-word;
    width: 200px;
    font-size: 23px;
    text-align: center;
}
#COGS {
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #faf7ff;
}
.thtd {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

.tr:nth-child(1) {
    background-color: #dcd0ff
}

html {
    text-align: center;
}
#navbar li{
    display: inline;
    padding:15px;
    font-size: large;
}
            
#navbar{
     padding:20px;
     background-image: url('Screen\ Shot\ 2021-11-15\ at\ 11.25.27\ AM.png');
    overflow: hidden;
}


p {
    font-family: 'Nanum Pen Script', fantasy;
    font-size: 8mm;
    }

a {
    color: #4b0082;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

h2 {
    font-size: 33px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
    
    .content {
    padding: 16px;
    }
    
    .sticky + .content {
    padding-top: 60px;
    }