
#body {
backround-color: grey;
}

#navbar {
border-style:solid;
background-color: purple;
  border-width: 4px;
    
}
#navbar li {
display: inline-block;

}
#navbar a {
color: White
}
# img src= "Ari.png"{

width: 400
}
#img src= " melany.png" {
width: 400
}

#img src= " phoniex.jpeg" {
width: 400
}