h1 {
    color: cornflowerblue;
    font-size: 29px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    text-align: center;
    background-color: rgb(174, 196, 238);
}  

p {
font-size: 19px;
}


#navbar {
    background-color: pink;
    border: solid;
    border-width: 2px;
    text-align: center;
    top: 0;
    z-index: 100;
    }
    
    
    
    #navbar li {
    display: inline-block;
    }
    
    
    #navbar a {
    color: pink
    }

    #image { 
    size: 300px;
    }
    