/* Elaine-changed border*/
/* Giselle added fonts and color(aki helped)*/
/* Elaine added another font*/
#navbar {
    background-color: rgb(126, 106, 201);
    border-style: hidden;
    border-width: none;
    font-family: 'Courier New', Courier, monospace
}
#navbar li {
    display: inline-block;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace
}

a:hover {
    color:blue;
  }


#navbar a:hover {
    color: beige
}
body {

    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(126, 106, 201), rgb(217, 214, 245));
    font-family: 'Courier New', Courier, monospace;
    text-align: center;


}
#images {
    text-align: left;
}
img{
    text-align: left;
}


#navbar a {
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: 'Amatic SC', cursive;
}


/* comments*/