/* Celine did this: */
#navbar {
    background-color: #ffcfdf;
    border-style: solid;
    border-width: 1px;
    border-color:#f28fb0 ;
    word-spacing: 10px;
}
#colors li{
    color: #f0a1bc;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}
#navbar li {
    display: inline-block;
    
}
#navbar a{
    color: white;
    text-decoration: none;
    border-style: solid;
    border-color: white;
    padding: 7px;
    border-width: 1px;
    border-radius: 25px;
}
p {
    color: #f0a1bc;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    text-align: center;
}
h1 {
    color:#f28fb0 ;
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    text-align: center;
}
.fonts{
    font-size: 40px;
}
img {
    width: 280px;
    padding: 40px;
}
#table {
    text-align: center;
}
h6 {
    color: #f0a1bc;
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
}
#sizecandle {
    width: 500px;
}
#cogs {
    text-align: center;
    font-size: 40px;
}
#imgcogs {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#pitchvid {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-color:#f0a1bc;
    padding: 10px;
}