
#navbar {
font-family: 'Raleway Dots', cursive;
font-size: 25px;
background-image: url("Headerimg.png");
padding-bottom: 0px;
}



#navbar li {  
    display: inline-block;
    border-style:radius;
    color: rgb(52, 97, 10);
    padding: 5px;
}

p { 
    font-family: 'Raleway', sans-serif;
    Text-align :center;
    font-size:20px;
}

table { 
    font-family: 'Raleway', sans-serif;
    text-align:center;

}

a:link {

text-decoration: none;
color: black;
}

h1  {
    font-family: 'Raleway', sans-serif;
    font-size:30px;
    text-align: center;
}
a:hover {

    text-decoration: underline;
    color: rgb(26, 0, 53);
   
}

#shop td { 
    font-family: 'Raleway', sans-serif;
    text-align:center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
}
