/*Katie made this file on 11/1/21*/
/*Katie wrote the code for the navbar on 11/2/21*/
/*Katie added the code for images on 11/9/21*/
/*Anika and Katie added the font for the <p> tags on 11/15/21*/

#navbar {
    background-color: rgb(233, 233, 233);
    border-style: solid;
    border-width: 1px
}
 
#navbar li {   
    display: inline-block
}

#navbar a {
    color: rgb(0, 0, 0);
}

#navbar a:hover {
    color: #4a9cc9;
}

img {
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

body {
    text-align: center;
}

p {
    font-family:  'Thasadith';
}

h3 {
    font-family: 'Dancing Script', cursive;
}

h1 {
    border-style: solid;
    border-color: #a4d9f5;
}

#headers {
    width: 200px;
    margin: auto;
    font-family: 'Dancing Script', cursive;
}

